# Node & Next.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo

# Environment Variables
.env
.env*.local

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store
Thumbs.db

# Android & Java Memory Dumps
*.hprof
*.zip
.gradle/
android_app/.gradle/
android_app/.idea/
android_app/.kotlin/
android_app/build/
android_app/app/build/
local.properties
